<h4>Add Student</h4>
<hr>
<div class="panel panel-default">
  <div class="panel-heading">Add Student</div>
  <div class="panel-body">
    <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <label for="FirstName">First Name</label>
          <input type="text" class="form-control" name="FirstName" [(ngModel)]="studentModel.FirstName" maxlength="50"
                 #refFirstName="ngModel" id="FirstName" required>
          <div *ngIf="!refFirstName.valid  && (refFirstName.dirty || refFirstName.touched)" class="alert alert-danger">
            <div [hidden]="!refFirstName.errors.required">
              First Name is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="OtherName">Other Name(s)</label>
          <input type="text" class="form-control" name="OtherName" [(ngModel)]="studentModel.OtherName" maxlength="50"
                 #refOtherName="ngModel" id="OtherName">          
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="LastName">Last Name</label>
          <input type="text" class="form-control" name="LastName" [(ngModel)]="studentModel.LastName" maxlength="50"
                 #refLastName="ngModel" id="LastName" required>
          <div *ngIf="!refLastName.valid  && (refLastName.dirty || refLastName.touched)" class="alert alert-danger">
            <div [hidden]="!refLastName.errors.required">
              Last Name is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="GenderID">Gender</label>
          <select required name="GenderID" #refSchoolID="ngModel" class="form-control" [(ngModel)]="studentModel.GenderID">
            <option value='0'>Please select Value</option>
            <option *ngFor="let activegender of AllGenderList" [ngValue]="activegender.GenderID">
              {{activegender.GenderName}}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="DateOfBirth">Date of Birth</label>
          <input [(ngModel)]="studentModel.DateOfBirth" name="DateOfBirth" id="DateOfBirth" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" onkeypress="return false;"
                 [maxDate]="dobminDate" class="form-control" #refDateOfBirth="bsDatepicker" bsDatepicker>
          <div *ngIf="!refDateOfBirth.valid  && (refDateOfBirth.dirty || refDateOfBirth.touched)" class="alert alert-danger">
            <div [hidden]="!refDateOfBirth.errors.required">
              Date of Birth is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <br>
          <label for="name">Active?</label> &nbsp; 
          <input style="margin-top: 10px" type="checkbox" name="Active" [(ngModel)]="studentModel.Active"
                 maxlength="50" #refActive="ngModel" id="Active">
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <label for="SchoolID"> School</label>
          <select required name="SchoolID" #refSchoolID="ngModel" class="form-control" [(ngModel)]="studentModel.SchoolID">
            <option value=''>Please select Value</option>
            <option *ngFor="let activeschool of AllActiveSchoolList" [ngValue]="activeschool.SchoolID">
              {{activeschool.SchoolName}}
            </option>
          </select>
          <div *ngIf="!refSchoolID.valid && (refSchoolID.dirty || refSchoolID.touched)" class="alert alert-danger">
            <div [hidden]="!refSchoolID.errors.required">
              School is required
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="GradeID"> Grade</label>
          <select required name="GradeID" #refGradeID="ngModel" class="form-control" [(ngModel)]="studentModel.GradeID">
            <option value=''>Please select Value</option>
            <option *ngFor="let activegrade of AllSchoolGradeList" [ngValue]="activegrade.GradeID">
              {{activegrade.GradeName}}
            </option>
          </select>
          <div *ngIf="!refGradeID.valid  && (refGradeID.dirty || refGradeID.touched)" class="alert alert-danger">
            <div [hidden]="!refGradeID.errors.required">
              Grade is required
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <button type="submit" style="margin-top: 10px" [disabled]="!f.form.valid" class="btn btn-success">Save</button>
          <a style="margin-left: 10px; margin-top:7px;" class="btn btn-info" [routerLink]="['/Student/All']">
            Cancel
          </a>
        </div>
      </div>
    </form>
  </div>
</div>
