<h4>All Students</h4>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="StudentID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header hidden="hidden"> Student ID </th>
          <td mat-cell *matCellDef="let element" hidden="hidden"> {{element.StudentID}} </td>
        </ng-container>
        <ng-container matColumnDef="FullName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:10px;">
            Name
          </th>
          <td mat-cell style="padding-left:10px;" *matCellDef="let element"> {{element.FullName}} </td>
        </ng-container>
        <ng-container matColumnDef="DateOfBirth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:10px;">
            DOB
          </th>
          <td mat-cell style="padding-left:10px;" *matCellDef="let element"> {{element.DateOfBirth | date:'yyyy-MM-dd'}} </td>
        </ng-container>
        <ng-container matColumnDef="Gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
          <td mat-cell *matCellDef="let element"> {{element.Gender}} </td>
        </ng-container>
        <ng-container matColumnDef="SchoolGrade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Grade </th>
          <td mat-cell *matCellDef="let element"> {{element.SchoolGrade}} </td>
        </ng-container>
        <ng-container matColumnDef="SchoolCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> School Code </th>
          <td mat-cell *matCellDef="let element"> {{element.SchoolCode}} </td>
        </ng-container>
        <ng-container matColumnDef="SchoolName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> School Name </th>
          <td mat-cell *matCellDef="let element"> {{element.SchoolName}} </td>
        </ng-container>
        <!-- EditAction Column -->
        <ng-container matColumnDef="EditAction">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="btn btn-info" [routerLink]="['/Student/Edit/',element.StudentID]">
              <i class="fa fa-edit fa-fw"></i>
              Edit
            </a>
          </td>
        </ng-container>
        <!-- DeleteAction Column -->
        <ng-container matColumnDef="DeleteAction">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-info" (click)="Delete(element.StudentID)">Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
