<h4>Edit School</h4>

<hr>


<div class="panel panel-default">
    <div class="panel-heading">Edit</div>
    <div class="panel-body">
        <form #f="ngForm" novalidate (ngSubmit)="onSubmit()">
            <input type="hidden" name="SchoolID" [(ngModel)]="SchoolForms.SchoolID" id="SchoolID">
            <div class="row">
              <div class="col-md-3">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="SchoolName" [(ngModel)]="SchoolForms.SchoolName"
                       maxlength="100" #refSchoolName="ngModel" id="SchoolName" required>
                <div *ngIf="!refSchoolName.valid  && (refSchoolName.dirty || refSchoolName.touched)" class="alert alert-danger">
                  <div [hidden]="!refSchoolName.errors.required">
                    School Name is required
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label for="name">Code</label>
                <input type="text" class="form-control" name="SchoolCode" [(ngModel)]="SchoolForms.SchoolCode"
                       maxlength="30" #refSchoolCode="ngModel" id="SchoolCode" required>
                <div *ngIf="!refSchoolCode.valid  && (refSchoolCode.dirty || refSchoolCode.touched)" class="alert alert-danger">
                  <div [hidden]="!refSchoolCode.errors.required">
                    School Code is required
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <label for="name">Active?</label>
                <br>
                <input style="margin-top: 10px" type="checkbox" name="Active" [(ngModel)]="SchoolForms.Active"
                       maxlength="50" #refActive="ngModel" id="Active">
              </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <button type="submit" style="margin-top: 10px" [disabled]="!f.form.valid" class="btn btn-success">Save</button>
                    <a style="margin-left: 10px; margin-top:7px;" class="btn btn-info" [routerLink]="['/School/All']">
                        Cancel </a>
                </div>
            </div>
        </form>
    </div>
</div>
