<h4>All Schools</h4>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- SchoolID Column -->
        <ng-container matColumnDef="SchoolID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header hidden="hidden"> SchoolID </th>
          <td mat-cell *matCellDef="let element" hidden="hidden"> {{element.SchoolID}} </td>
        </ng-container>
        <!-- SchoolName Column -->
        <ng-container matColumnDef="SchoolName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:10px;"> Name </th>
          <td mat-cell *matCellDef="let element" style="padding-left:10px;"> {{element.SchoolName}} </td>
        </ng-container>
        <!-- SchoolCode Column -->
        <ng-container matColumnDef="SchoolCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header style="padding-left:10px;"> Code </th>
          <td mat-cell *matCellDef="let element" style="padding-left:10px;"> {{element.SchoolCode}} </td>
        </ng-container>
        <!-- Status Column -->
        <ng-container matColumnDef="Active">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Active </th>
          <td mat-cell *matCellDef="let element"> {{element.Active}} </td>
        </ng-container>
        <!-- Createddate Column -->
        <!--<ng-container matColumnDef="Createddate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
          <td mat-cell *matCellDef="let element"> {{element.CreatedDate}} </td>
        </ng-container>-->
        <!-- EditAction Column -->
        <ng-container matColumnDef="EditAction">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <a class="btn btn-info" [routerLink]="['/School/Edit/',element.SchoolID]">
              <i class="fa fa-edit fa-fw"></i>
              Edit
            </a>
          </td>
        </ng-container>
        <!-- DeleteAction Column -->
        <ng-container matColumnDef="DeleteAction">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let element">
            <button class="btn btn-info" (click)="Delete(element.SchoolID)">Delete</button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
